@model WebsiteQuanLyChiTieu.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
}

<h1>Chi tiết danh mục</h1>

<div>
    <h4>@Html.DisplayFor(model => model.CategoryName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryID" class="btn btn-primary btn-sm">Sửa</a> |
    <a asp-action="Index" class="btn btn-secondary btn-sm">Quay lại danh sách</a>
</div>