@model IEnumerable<WebsiteQuanLyChiTieu.Models.Category>

@{
    ViewData["Title"] = "Danh sách danh mục";
}

<h1>Danh sách danh mục</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo danh mục mới</a>
</p>

<table class="table table-custom">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-primary btn-sm">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-secondary btn-sm">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>