@model WebsiteQuanLyChiTieu.Models.Fund
@{
    ViewData["Title"] = "Chi Tiết Quỹ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Quỹ</h2>

<div>
    <h4>@Model.FundName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tên Quỹ</dt>
        <dd class="col-sm-10">@Model.FundName</dd>
        <dt class="col-sm-2">Số Tiền</dt>
        <dd class="col-sm-10">@Model.Amount.ToString("C0")</dd>
        <dt class="col-sm-2">Mô Tả</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">User Được Cấp</dt>
        <dd class="col-sm-10">@(Model.User != null ? Model.User.FullName : "Chưa cấp")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FundID" class="btn btn-primary">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>