@model IEnumerable<WebsiteQuanLyChiTieu.Models.Fund>

@{
    ViewData["Title"] = "Danh sách quỹ";
}

<h1>Danh sách quỹ</h1>

<p>
    <a asp-action="Create">Tạo quỹ mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FundName)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FundName)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FundID">Chi tiết</a> |
                    <a asp-action="Edit" asp-route-id="@item.FundID">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.FundID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>